body{
    background-image: url(https://i.pinimg.com/236x/19/eb/c0/19ebc0fc49b7c6db4c7fe156f281cee4.jpg);
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0%;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(77, 91, 77);
    margin: auto;
    padding: 0%;
    
}

hr{
  height: 2px;
  background-color: rgb(148, 176, 148);
  border-color: rgb(148, 176, 148);
}

/* .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    padding-top: 16px;
  }
.sidebar img{
    width: 100%;
    height: auto;
   border-radius: 15%;
   display: block;
} */

a{
    color:rgb(67, 80, 65);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button{
    padding: 5px;
    margin: 20px;
    width: 70px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
button:hover{
    transform: scale(0.9);
    background-color: rgb(138, 166, 155);
}

p{
 text-align: left;
 font-family: monospace;
 font-size: large;
}
